:root {
  --text: black;
  --text-muted: #bfbfbf;
  --background-100: white;
  --background-200: #f1f1f1;
  --background-300: rgba(0, 0, 0, 0.2);
  --highlight: #b6d2cd;
  --accent: #59ada1;

  --radius: 8px;
  --thickness: 2px;

  --border: var(--thickness) solid var(--highlight);
  --box-shadow: 0 4px 8px var(--background-300);
  --transition: all 0.2s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #cccccc;
    --text-muted: #6f6f6f;
    --background-100: #1c1c1c;
    --background-200: #272727;
    --background-300: rgba(0, 0, 0, 0.4);
    --highlight: #5a615f;
    --accent: #009688;
  }
}

body {
  color: var(--text);
  background: var(--background-100);
  max-width: 800px;
  font-size: 1.2rem;
  line-height: 1.7;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

body * {
  font-family: monospace;
  accent-color: var(--accent);
}

@media screen and (max-width: 750px) {
  body {
    font-size: 1rem;
  }
}

a {
  color: var(--accent);
  text-decoration-thickness: var(--thickness);
  text-decoration-color: var(--highlight);
  transition: var(--transition);
}

.link-btn {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;

  /* anchor style */
  color: var(--accent);
  text-decoration-thickness: var(--thickness);
  text-decoration-color: var(--highlight);
  transition: var(--transition);
}

a:hover {
  text-decoration-color: var(--accent);
}

.link-btn:hover {
  /* anchor style */
  text-decoration-color: var(--accent);
}

p {
  text-align: justify;
}

hr {
  border: none;
  height: var(--thickness);
  background-color: var(--highlight);
}

h1 + h2 {
  margin-top: -1rem;
}

h3 {
  margin-bottom: -0.5rem;
}

h4 {
  margin-bottom: -0.3rem;
}

pre {
  padding: 0;
  margin: 0;
}

code {
  background-color: var(--background-200);
  border-radius: var(--radius);
}

pre > code {
  display: flex;
  justify-content: center;
  padding: 20px;
}

:not(pre) > code {
  padding: 2px 10px;
}

.center {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

/* ====================================== */
/*              Cursor Styles             */
/* ====================================== */

:root {
  --cursor-default: url("/cursor/default.png") 0 0, auto;
  --cursor-pointer: url("/cursor/pointer.png") 6 0, pointer;
  --cursor-text: url("/cursor/text.png") 10 10, text;
  --cursor-not-allowed: url("/cursor/not-allowed.png") 6 0, not-allowed;
}

body {
  cursor: var(--cursor-default);
}

a,
input[type="checkbox"],
input[type="radio"],
button,
[role="button"] {
  cursor: var(--cursor-pointer);
}

input[type="text"],
textarea,
[contenteditable="true"] {
  cursor: var(--cursor-text);
}

[disabled] {
  cursor: var(--cursor-not-allowed);
}