:root {
	--text: black;
	--text-muted: #BFBFBF;
	--background-100: white;
	--background-200: #f1f1f1;
	--background-300: rgba(0, 0, 0, 0.2);
	--highlight: #b6d2cd;
	--accent: #59ada1;

	--radius: 8px;
	--thickness: 2px;

	--border: var(--thickness) solid var(--highlight);
	--box-shadow: 0 4px 8px var(--background-300);
	--transition: all 0.2s ease-in-out;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: #cccccc;
		--text-muted: #6f6f6f;
		--background-100: #1c1c1c;
		--background-200: #272727;
		--background-300: rgba(0, 0, 0, 0.4);
		--highlight: #5a615f;
		--accent: #009688;
	}
}

body {
	color: var(--text);
	background: var(--background-100);
	max-width: 800px;
	font-size: 1.2rem;
	line-height: 1.7;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}

body * {
	font-family: 'Source Code Pro', monospace;
	accent-color: var(--accent);
}

@media screen and (max-width: 750px) {
	body {
		font-size: 1rem;
	}
}

a {
	color: var(--accent);
	text-decoration-thickness: var(--thickness);
	text-decoration-color: var(--highlight);
	transition: var(--transition);
}

a:hover {
	text-decoration-color: var(--accent);
}

p {
	text-align: justify;
}

hr {
	border: none;
	height: var(--thickness);
	background-color: var(--highlight);
}

h1 + h2 {
	margin-top: -1rem;
}

.center {
	display: flex;
	justify-content: center;
}