:root {
	--text: black;
	--background: white;
	--highlight: rgba(0,0,0,0.2);
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: white;
		--background: #303030;
		--highlight: rgba(0,0,0,0.2);
	}
}

body {
	color: var(--text);
	background: var(--background);
	max-width: 800px;
	font-family: 'Source Code Pro';
	font-size: 1.2rem;
	line-height: 1.7;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 0px 20px;
}

a {
	color: #62a0ea;
}

footer {
	display: flex;
	justify-content: center;
}

header > img {
	display: block;
	margin: 50px auto;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 1.5rem 1.5rem;
}

.card {
	font-size: 1.0rem;
	border: 1px solid var(--highlight);
	border-radius: 8px;
	box-shadow:0 4px 8px var(--highlight);
	padding: 1rem;
	display: grid;
	grid-template-rows: 2rem auto 2.5rem;
}
