body {
	max-width: 800px;
	font-family: 'Source Code Pro';
	font-size: 1.2rem;
	line-height: 1.7;
	margin: auto;
	display: flex;
	flex-direction: column;
}

footer {
	display: flex;
	justify-content: center;
}

header > img {
	display: block;
	margin: 50px auto;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 1.5rem 1.5rem;
}

.card {
	font-size: 1.0rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	display: grid;
	grid-template-rows: 2rem auto 2.5rem;
}
