:root {
	--text: black;
	--background: white;
	--card-background: #f1f1f1;
	--highlight: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: white;
		--background: #303030;
		--card-background: #2b2b2b;
		--highlight: rgba(0, 0, 0, 0.4);
	}
}

body {
	color: var(--text);
	background: var(--background);
	max-width: 800px;
	font-size: 1.2rem;
	line-height: 1.7;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 0px 20px;
}

body * {
	font-family: 'Source Code Pro';
}

a {
	color: #62a0ea;
}
p {
	text-align: justify;
}

header {
	display: flex;
	justify-content: center;
	font-size: 2rem;
	margin: 2rem;
}

footer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 15px;
	background-color: var(--card-background);
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid var(--highlight);
	border-radius: 8px;
}

th {
	font-weight: bold;
	border-bottom: 1px solid;
	text-align: center;
}

th,
td {
	border-right: 1px solid;
}

table,
th,
td {
	padding: 5px;
	border-color: var(--highlight);
}

th:last-child,
td:last-child {
	border-right: none;
}

@media screen and (max-width: 750px) {
	thead {
		display: none;
	}

	tr {
		display: block;
		margin-bottom: 1rem;
		border-bottom: 1px solid;
		border-color: var(--highlight);
	}

	td {
		border-right: none;
		border-bottom: none;
		display: block;
		font-size: 0.8em;
		text-align: left;
	}

	tr:last-child {
		border-bottom: none;
	}

	td::before {
		white-space: pre-wrap;
		content: attr(data-label) ': ';
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}
}
